<div class="hor-section">
 <div class="container">
    <span class="gradient-text">Lorem ipsum dolor, sit consectetur adipisicing.</span>
    <span style="color: #1f2937;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, ratione. Atque, laudantium eveniet! Quaerat illo vel quisquam explicabo nostrum maxime ut alias porro debitis.</span>
    <div style="display: flex;flex-direction: row;height: 50px;gap: 10px;">
    <button style="border-radius: 20px;" nz-button nzType="default" >Go to ChatRoom
                </button>

                <button style="border-radius: 20px;" nz-button nzType="default" >Go to ChatRoom
                </button>
            </div> 
 </div>


 <div class="planet-container">
    <app-planet></app-planet>
    <!-- <img src="assets/images/logo.svg" height="70%" alt="logo"> -->
 </div>
</div>

<app-footer></app-footer>